.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputTitle {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}

.checkboxLabelOuter {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkboxLabel {
  flex: 0;
  display: block;
  position: relative;
  margin-right: 32px;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkboxLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxLabel .checkboxCustom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #f1f7ed;
}

.checkboxLabel input:checked ~ .checkboxCustom {
  background-color: #f1f7ed;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #f1f7ed;
}

.checkboxLabel .checkboxCustom::after {
  position: absolute;
  content: '';
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #b33951;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkboxLabel input:checked ~ .checkboxCustom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 6px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid #b33951;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

/* For Ripple Effect */
.checkboxLabel .checkboxCustom::before {
  position: absolute;
  content: '';
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkboxLabel input:checked ~ .checkboxCustom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

/* Style for Circular Checkbox */
.checkboxLabel .checkboxCustom.circular {
  border-radius: 50%;
  border: 2px solid #f1f7ed;
}

.checkboxLabel input:checked ~ .checkboxCustom.circular {
  background-color: #f1f7ed;
  border-radius: 50%;
  border: 2px solid #f1f7ed;
}
.checkboxLabel input:checked ~ .checkboxCustom.circular::after {
  border: solid #b33951;
  border-width: 0 2px 2px 0;
}
.checkboxLabel .checkboxCustom.circular::after {
  border-radius: 50%;
}

.checkboxLabel .checkboxCustom.circular::before {
  border-radius: 50%;
  border: 2px solid #f1f7ed;
}

.checkboxLabel input:checked ~ .checkboxCustom.circular::before {
  border-radius: 50%;
}
